[Unit]
Description=DHT to MQTT service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/pi/MQTT-Clients/mqtt-dht/mqtt-dht.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target